.Appbar{
    background: #2874f0;
    height: 55px;
}
.search{
    width: 38%;
}
.btn-height{
    height: 25px;
    width: 90px;  
}
.text{
    font-weight: 600;
}
.Fasion{
    width: 35%;
    height:35%;
    margin-left: 281px;
    /* background:#f2f0f0; */
    z-index: 33;
}
.dropdown{
    margin-left: -100px;
    margin-top: -45px;
}
.Electronic p:hover {
    color:#2874f0;
    cursor: pointer;

}
.submenuitem:hover{
    color:#2874f0;
    cursor: pointer;  
}

.homeitemHover p:hover{
    color: #2874f0;
}
.homeitemHover h6:hover{
    color: #055ce9;
}

.galer{
    background: #e8e4e4;
    height: 10rem;
    gap: 1;
}
.galer div{
    flex: 1;
    border-radius: 1rem;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.galer >div:hover{
    flex:5;
}
.white{
    display: inline-block;
    width: calc(100% - 80px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
}