.Appbar{
    background: #2874f0;
    height: 55px;
}
.search{
    width: 38%;
}
.btn-height{
    height: 25px;
    width: 90px;  
}
.text{
    font-weight: 600;
}
.Fasion{
    width: 35%;
    height:35%;
    margin-left: 281px;
    background:#f2f0f0;
}
.dropdown{
    margin-left: -100px;
    margin-top: -45px;
}
.Electronic p:hover {
    color:#2874f0;
    cursor: pointer;

}
.submenuitem:hover{
    color:#2874f0;
    cursor: pointer;  }